<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Photo Prints</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.3.2/iframeResizer.contentWindow.min.js" integrity="sha512-r/JqT4P4aiGbV1qFLLKxI2E8GhVv2bL1Hw4+Uo1NQJXX7/G5Vz+4q5hn1oDb14Py3OiXz6A8dyJtnQ2f5CnhTA==" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h1>Order Photo Prints</h1>
        <div id="content-container">
            {% include 'order_form.html' %}
        </div>
    </div>
</body>
</html>