<div id="index-content">
    <form id="orderForm" action="{{ url_for('add_order') }}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="size">Photo Size:</label>
            <select id="size" name="size" class="form-control">
                <option value="9x9">9x9</option>
                <option value="9x11">9x11</option>
                <option value="10x15">10x15</option>
                <option value="15x21">15x21</option>
                <option value="21x30">21x30</option>
                <option value="30x40">30x40</option>
                <option value="9x13">9x13</option>
                <option value="13x18">13x18</option>
            </select>
        </div>
        <div class="form-group">
            <label for="paper-type">Paper Type:</label>
            <input type="radio" id="matte" name="paper_type" value="matte">
            <label for="matte">Matte</label>
            <input type="radio" id="glossy" name="paper_type" value="glossy" checked>
            <label for="glossy">Glossy</label>
        </div>
        <div class="form-group">
            <label for="photos">Upload Photos:</label>
            <div id="drop-area" class="drop-area">
                <p>Drag & Drop files here or click to select files</p>
                <input type="file" id="photos" name="photos" multiple class="form-control-file" accept=".jpg,.jpeg,.png,.gif,.heic,.webp">
            </div>
            <div class="button-group">
                <button type="submit" id="submit-button" class="btn btn-primary">Add to Order</button>
                <button type="button" id="clear-all-button" class="btn btn-danger" style="display:none;">Clear All</button>
                <button type="button" id="skip-button" class="btn btn-secondary" style="display:none;" onclick="window.location.href='{{ url_for('order_summary_partial') }}'">Skip to Order Summary</button>
            </div>
            <div id="progress-bar-container" class="progress-bar-container">
                <div id="progress-bar" class="progress-bar"><div></div></div>
            </div>
            <div class="preview"></div>
        </div>
        <div class="form-group">
            <p id="error-message" style="color: red;"></p>
        </div>
    </form>
</div>
<script>
    document.getElementById('photos').addEventListener('change', function(event) {
        const preview = document.querySelector('.preview');
        preview.innerHTML = '';
        const files = event.target.files;

        function readAndPreview(file, index) {
            if ( /\.(jpe?g|png|gif|heic|webp)$/i.test(file.name) ) {
                const reader = new FileReader();

                reader.addEventListener('load', function() {
                    const container = document.createElement('div');
                    container.classList.add('photo-container');
                    const image = new Image();
                    image.height = 100;
                    image.title = file.name;
                    image.src = this.result;
                    container.appendChild(image);

                    const removeButton = document.createElement('button');
                    removeButton.textContent = 'X';
                    removeButton.classList.add('remove-photo');
                    removeButton.setAttribute('data-file-index', index);
                    container.appendChild(removeButton);

                    preview.appendChild(container);
                });

                reader.readAsDataURL(file);
            }
        }

        if (files) {
            [].forEach.call(files, readAndPreview);
        }
    });

    document.addEventListener('click', function(event) {
        if (event.target.classList.contains('remove-photo')) {
            const fileIndex = event.target.getAttribute('data-file-index');
            const input = document.getElementById('photos');
            const dt = new DataTransfer();

            for (let i = 0; i < input.files.length; i++) {
                if (i != fileIndex) {
                    dt.items.add(input.files[i]);
                }
            }

            input.files = dt.files;
            event.target.parentElement.remove();
        }
    });
</script>